<template>
  <div class="container-form">

    <div class="title">
      <h2>{{ poolName }}</h2>
      <div class="line"></div>
    </div>

    <div class="selector">
      <h4>Sélectionner la piscine</h4>
      <select v-model="selectedPool" @change="loadSelectedPoolData" class="custom-select">
        <option v-for="pool in pools" :key="pool.id" :value="pool.id">{{ pool.entitled }}</option>
      </select>
    </div>



    <div class="tab-container">
      <!-- envoyer indicators aux composants enfant, appelle de la fonction circuit loaded pour mettre à jour le composantenfant-->
      <TabView :packs="packs" :indicatorsBycircuit="indicatorsBycircuit" :indicatorsBypond="indicatorsBypond"
        :poolId="poolId" :ponds="ponds" />
    </div>
  </div>
</template> 

<script lang="ts">
import TabView from './TabView.vue';
import GenerateField from './GenerateField.vue';
import { defineComponent, ref, onMounted } from 'vue';
import { usePoolStore } from '../../shared/data/store/PoolStore';
import { useIndicatorState } from '@/shared/data/store/IndicatorStore';
import { useCircuitState } from '@/shared/data/store/CircuitStore';
import { usePondState } from '@/shared/data/store/Pondstore';

export default defineComponent({
  components: {
    TabView,
  },

  setup() {
    const poolStore = usePoolStore();
    const indicatoreStore = useIndicatorState();
    const pools = ref<Array<{ id: number; entitled: string }>>([]);
    const poolName = ref<{ entitled: string } | null>(null);
    const selectedPool = ref<{ id: number; } | null>(null);
    const circuitStore = useCircuitState();
    const pondstore = usePondState();
    const poolId = ref<| null>(null);


    //déclarer les const, pour la stocker et la passer au composant enfant
    const packs = ref<any[]>([]);

    //voir car peut être pas besoin sur les comosant enfant 
    const circuits = ref<any[]>([]);
    const ponds = ref<any[]>([]);

    // déclarer des objet pour les liste d'indicators par bassin et par circuit

    const indicatorsBycircuit = ref<any[]>([]);
    const indicatorsBypond = ref<any[]>([]);

    onMounted(async () => {
      await poolStore.fetchPools()
      pools.value = poolStore.pools;

      if (Array.isArray(pools.value) && pools.value.length > 0) {
        const initialPoolId = pools.value[1].id; // Récupérer l'ID de la première piscine
        console.log(initialPoolId);
        poolName.value = pools.value[1].entitled;
        await indicatoreStore.fetchIndicatorsByPoolId(initialPoolId),
          await circuitStore.fetchCircuits(initialPoolId),
          await pondstore.fetchPonds(initialPoolId)

        packs.value = indicatoreStore.packs;
        circuits.value = circuitStore.circuits;
        ponds.value = pondstore.ponds;

        loadIndicsByCircuit();
        loadIndicsByPond();
      }
    });

    const loadSelectedPoolData = async () => {
      console.log('loadSelectedPoolData called');
      console.log('selectedPool.value:', selectedPool.value);
      if (selectedPool.value !== null) {
        const selectedPoolData = pools.value.find(pool => pool.id === Number(selectedPool.value));
        if (selectedPoolData) {
          poolName.value = selectedPoolData.entitled; // Récupère le nom de la piscine sélectionnée
        }
        await Promise.all([
          indicatoreStore.fetchIndicatorsByPoolId(selectedPool.value),
          circuitStore.fetchCircuits(selectedPool.value),
          pondstore.fetchPonds(selectedPool.value)
        ]);

        // Mise à jour des valeurs après les appels asynchrones
        packs.value = indicatoreStore.packs;
        circuits.value = circuitStore.circuits;
        ponds.value = pondstore.ponds;

        // Appel de loadIndicsBycircuit après avoir récupéré les circuits
        loadIndicsByCircuit();
        loadIndicsByPond();
      }
    };

    /**
     * /**
     * Récup le indicateurs par circuit en utilisant la fonction asynchrone du store, 
     * pour les stocké dans la variablele approprié props
     * afin de le partager aux composant enfants
     */

    const loadIndicsByCircuit = async () => {
      const indicatorsPromises = circuits.value.map(async (circuit) => {
        const setOfindicatorsByCircuit = await indicatoreStore.fetchIndicatorsByCircuit(circuit.id, circuit.name);
        return setOfindicatorsByCircuit;
      });

      const results = await Promise.all(indicatorsPromises);
      const flattenedResults = results.flatMap(item => item);

      console.log(flattenedResults);
      indicatorsBycircuit.value = flattenedResults;
    };

    /**
     * Récup le indicateurs par bassin en utilisant la fonction asynchrone du store, 
     * pour les stocké dans la variablele approprié props
     * afin de le partager aux composant enfants
     */
    const loadIndicsByPond = async () => {
      const indicatorsPromises = ponds.value.map(async (pond) => {
        const setOfindicatorsByPond = await indicatoreStore.fetchIndicatorsByPond(pond.localId, pond.name);
        return setOfindicatorsByPond;
      });

      const results = await Promise.all(indicatorsPromises);
      const flattenedResults = results.flatMap(item => item);
      indicatorsBypond.value = flattenedResults;
    };
    return {
      pools,
      selectedPool,
      loadSelectedPoolData,
      packs,
      circuits,
      ponds,
      poolId,
      indicatorsBycircuit,
      indicatorsBypond,
      poolName

    };
  },
});
</script>

<style scoped lang="scss">
.container-form {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
  position: relative;


  h2 {
    position: relative;
    z-index: 1;
    color: #27A1CAFF;
    padding: 0 10px;
  }

  .line {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 1px;
    background: #27A1CAFF;
    z-index: 0;
  }
}

.selector {
  display: flex;
  align-items: center;
  width: 80%;
  margin-bottom: 20px;

  h4 {
    margin-right: 15px;
  }
}

.custom-select {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #28A3B3FF;
  border-radius: 4px;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.custom-select:focus {
  outline: none;
  border-color: #E0BB14FF;
  box-shadow: 0 0 5px rgba(85, 85, 85, 0.5);
}

.tab-container {
  /* Styles pour les onglets */
}
</style>
