<template>
    <div>

        <div v-if="selectedTab === 'eau'">
            <div v-for="indicCircuit in indicatorsBycircuit" :key="indicCircuit.id">
                <div v-if="indicCircuit.isCircuit === true && indicCircuit.isPond === false">

                    <v-card outlined class="custom-card">
                        <!-- Légende du pack -->
                        <v-card-title class="pack-name text-cyan-darken-2"> {{ indicCircuit.circuitName }}</v-card-title>
                        <v-card-text>
                            <!-- Parcourir les indicateurs de chaque pack -->
                            <v-row v-for="indic in indicCircuit.indics" :key="indic.id">
                                <v-col cols="12">
                                    <!-- Affichage des indicateurs -->
                                    <v-text-field :label="indic.label" clearable class="text-cyan-darken-3" full-width>
                                        <template #append>
                                            <div class="indicator-unit">{{ indic.unit }}</div>
                                        </template>
                                    </v-text-field>
                                </v-col>
                            </v-row>
                            <v-btn class="bg-cyan-darken-2 text-white">
                                Valider
                            </v-btn>
                        </v-card-text>
                    </v-card>
                </div>
            </div>
        </div>


        <div v-else-if="selectedTab === 'réglementation'">
            <div v-for="indicPond in indicatorsBypond" :key="indicPond.id">
                <div v-if="indicPond.isPond === true && indicPond.isCircuit === false">
                    <v-card outlined class="custom-card">
                        <!-- Légende du pack -->
                        <v-card-title class="pack-name text-cyan-darken-2"> {{ indicPond.pondName }}</v-card-title>

                        <v-card-text>
                            <!-- Parcourir les indicateurs de chaque pack -->
                            <v-row v-for="indic in indicPond.indics" :key="indic.id">
                                <v-col cols="12">
                                    <!-- Affichage des indicateurs -->
                                    <v-text-field :label="indic.label" outlined clearable
                                        class="custom-input text-cyan-darken-3" full-width>
                                        <template #append>
                                            <div class="indicator-unit">{{ indic.unit }}</div>
                                        </template>
                                    </v-text-field>
                                </v-col>
                            </v-row>
                            <v-btn class="bg-cyan-darken-2 text-white">
                                Valider
                            </v-btn>
                        </v-card-text>

                    </v-card>
                </div>
            </div>
        </div>

        <!-- Ajoutez d'autres blocs v-else-if pour chaque onglet supplémentaire -->

    </div>
</template>



<script lang="ts">


export default {
    props: {
        indicatorsBycircuit: Array,
        indicatorsBypond: Array,
        selectedTab: String
    }
}


</script>

<style lang="scss">
.custom-card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Ombre légère */
}
</style>