<template>
  <v-form @submit.prevent="submitForm">
    <!-- Parcourir les packs -->
    <v-row>
      <v-col v-for="(pack, packIndex) in packs" :key="packIndex" cols="12">
        <v-card class="custom-card">
          <!-- Légende du pack -->
          <v-card-title class="pack-name">{{ pack.packName }}</v-card-title>

          <v-card-text>
            <!-- Parcourir les indicateurs de chaque pack -->
            <v-row v-for="(indicator, index) in pack.indics" :key="index">
              <v-col cols="12">
                <!-- Affichage des indicateurs -->
                <v-text-field v-model="values[getGlobalIndex(packIndex, index)]" :label="indicator.label" clearable
                  class="custom-input text-cyan-darken-3" full-width>
                  <template #append>
                    <div class="indicator-unit">{{ indicator.unit }}</div>
                  </template>
                </v-text-field>
              </v-col>
            </v-row>
          </v-card-text>

          <v-card-actions>
            <v-btn class="bg-cyan-darken-2 text-white">
              Valider
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
import { reactive } from 'vue';
import { getTotalIndicators, getGlobalIndex } from './utils';


export default {
  state() {

  },
  props: {
    packs: Array // Utilisation de la propriété packs
  },
  setup(props) {
    const values = reactive(Array(getTotalIndicators(props.packs)).fill('')); // Calcul du nombre total d'indicateurs

    const getGlobalIndex = (packIndex, indicatorIndex) => {
      let index = 0;
      for (let i = 0; i < packIndex; i++) {
        index += props.packs[i].indics.length;
      }
      return index + indicatorIndex;
    };

    const submitForm = () => {
      console.log('Valeurs soumises :', values);
    };

    return {
      values,
      getGlobalIndex,
      submitForm,
    };
  },
};
</script>

<style scoped lang="scss">
.custom-card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Ombre légère */
}

.pack-name {
  color: #004B58FF;
}

/* Pour ajuster la largeur des colonnes */
</style>