<template>
  <v-card>
    <v-tabs v-model="tab" bg-color="cyan-darken-2" class="custom-tab" align-with-title>
      <v-tabs-slider color="yellow"></v-tabs-slider>
      <v-tab value="general">
        Général
      </v-tab>
      <v-tab value="eau">
        eau :
        <em v-if="indicatorsBycircuit.length > 0" class="badge-animation">{{ indicatorsBycircuit.length }} circuit(s) :
          disponible(s)</em>
        <em v-else class="no-data-text">Aucun circuit disponible</em>
      </v-tab>
      <v-tab value="réglementation">
        réglementation :
        <em v-if="indicatorsBypond.length > 0" class="badge-animation">{{ indicatorsBypond.length }} bassin(s) :
          disponible(s)</em>
        <em v-else class="no-data-text">Aucun bassin disponible</em>
      </v-tab>
    </v-tabs>

    <v-card-text>
      <v-window v-model="tab">
        <v-window-item value="general">
          <GenerateField :packs="packs" />
        </v-window-item>
        <v-window-item value="eau">
          <GenerateFieldCircuitPond :indicatorsBycircuit="indicatorsBycircuit" :indicatorsBypond="indicatorsBypond"
            :selectedTab="tab" />
        </v-window-item>
        <v-window-item value="réglementation">
          <GenerateFieldCircuitPond :indicatorsBycircuit="indicatorsBycircuit" :indicatorsBypond="indicatorsBypond"
            :selectedTab="tab" />
        </v-window-item>

      </v-window>
    </v-card-text>
  </v-card>
</template>
    

<script>
import { ref, reactive, watch } from 'vue';
import GenerateField from './GenerateField.vue';
import GenerateFieldCircuitPond from './GenerateFieldCircuitPond.vue';

export default {
  props: {
    packs: Array,
    circuits: Array,
    ponds: Array,
    indicatorsBycircuit: Array,
    indicatorsBypond: Array,
    poolId: Number
  },
  setup(props) {

    //Utiliser la fonction reactive(), pour mettre à jour le template à chaque changement / chargement d'une pool
    const tab = ref('general');
    const circuitIndicatorInfo = ref(0);
    const pondIndicatorInfo = ref(0);

    watch(() => props.circuits, (newCircuits) => {
      if (newCircuits && newCircuits.length > 0) {
        tabData.water = newCircuits.map(circuit => ({
          circuitName: circuit.name
        }));
      } else {
        tabData.water = [];
        console.log('Aucun circuit disponible pour le moment.');
      }
    });


    //Map chaque nom d'onglet à une fonction spécifique 
    const dispatchIndicators = (tabValue) => {
      const tabActions = {
        water: () => handleWaterTab(),
        regulation: () => handleRegulationTab()
      };

      // attribuer la fonction qui correspond au nom de la tab
      if (tabActions[tabValue]) {
        tabActions[tabValue]();
        console.log('Après handleWaterTab :', tabData.water);
      }
    };


    //récupérer les props circuit pour les set dans tabData.water
    const handleWaterTab = () => {
      if (props.circuits && props.circuits.length > 0) {
        tabData.water = props.circuits.map(circuit => ({
          circuitName: circuit.name
        }));
      } else {
        tabData.water = [];
        console.log('Aucun circuit disponible pour le moment.');
      }
    };
    return {
      tab,
      dispatchIndicators,
      circuitIndicatorInfo,
      pondIndicatorInfo

    };
  },

  components: {
    GenerateFieldCircuitPond,
    GenerateField
  },
  created() {
    console.log('valeurs circuitd :', this.indicatorsBycircuit.length);
  }

}
</script>
    
    
<style lang="scss">
.badge-animation {
  display: inline-block;
  padding: 0.25em 0.5em;
  border-radius: 999px;
  background-color: #E77C31FF;
  color: white;
  font-size: 0.9em;
  animation: badge-pulse 1.2s infinite alternate;
}

@keyframes badge-pulse {
  from {
    transform: scale(0.75);
  }

  to {
    transform: scale(1);
  }
}

// Styles pour le texte "Aucun élément disponible"
.no-data-text {
  color: rgba(224, 187, 20, 0.822); // Couleur de texte grise
  font-style: italic;
}
</style>